@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins";

.h2__title {
    @include text(72px, 86px, 600, $font-Primary, $color-white);
    max-width: 641px;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .h2__title {
        font-size: 62px;
        line-height: 70px;
    }
}
@media only screen and (max-width: 1050px) {
    .h2__title {
        font-size: 59px;
        line-height: 65px;
    }
}
@media only screen and (max-width: 828px) {
    .h2__title {
        font-size: 56px;
        line-height: 60px;
    }
}
@media only screen and (max-width: 480px) {
    .h2__title {
        font-size: 35px;
        line-height: 40px;
    }
}