@import '../../../../styles/variables.module.scss';
@import "../../../../styles/mixins";

.text {
    @include text(16px, 22px, 400, $font-Secondary, $color-white);
}
@media only screen and (max-width: 1200px) {
    .text {
        font-size: 14px;
    }
}
@media only screen and (max-width: 828px) {
    .text {
        font-size: 13px;
    }
}
@media only screen and (max-width: 480px) {
    .text {
        line-height: 18px;
    }
}