@import "../../../../styles/variables.module.scss";
@import "../../../../styles/mixins";

.h4__title {
    @include text(24px, 29px, 500, $font-Primary, $color-white);
}
@media only screen and (max-width: 1200px) {
    .h4__title {
        font-size: 20px;
        line-height: 25px;
    }
}
@media only screen and (max-width: 828px) {
    .h4__title {
        font-size: 17px;
    }
}
@media only screen and (max-width: 480px) {
    .h4__title {
        font-size: 15px;
    }
}