

.navbar {
    display: flex;
    align-items: center;
    .ul__list {
        display: flex;
        color:  white;
        list-style-type: none;
        gap: 48px;
    }
}
@media only screen and (max-width: 828px) {
    .navbar {
        display: none;
    }
}