@import "../../../styles/variables.module.scss";

.wrapper__gradient,
.wrapper__disabled,
.wrapper__error {
    max-width: 493px;
    width: 100%;
    margin: 1px;
    padding: 1px;
    background: $color-linear-gradient-3;
    border-radius: $border-8px;
    .wrapper__bg {
        width: 100%;
        border-radius: $border-8px;
        background: $color-bg;
        .custom__input {
            width: 100%;
        
            position: relative;
            color: $color-white;
            background: $color-clean-5;
            padding: 24px;
            border: none;
            outline: none;
            border-radius: $border-8px;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.4px;
            font-family: $font-Secondary;
            &.error {
                background: rgba(255, 165, 165, 0.2);
            }
            &:focus::placeholder {
                color: $color-white;
            }
            &::placeholder {
                color: $colot-text-40;
            }
            &:disabled::placeholder {
                color: $color-gray;
            }
        }       
    }
}

.wrapper__disabled {
    background: $color-gray;
}
.wrapper__error {
    background: $color-error;
}
