@import "../../../styles/variables.module.scss";
@import "../../../styles/mixins";

.arrows {
    display: flex;
    gap: 33px;
    .arrow__block {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-bg;
        width: 38px;
        height: 38px;
        border-radius: $border-8px;
        cursor: pointer;
        &::before {
            @include wrap__gradient($color-linear-gradient-2, $border-8px);
        }
        img {
            max-height: 19px;
            max-width: 9.5px;
        }
    }
}
@media only screen and (max-width: 1200px) {
    .arrows {
        .arrow__block {
            width: 33px;
            height: 33px;
        }
    }
}
@media only screen and (max-width: 1050px) {
    .arrows {
        .arrow__block {
            width: 28px;
            height: 28px;
        }
    }
}
@media only screen and (max-width: 1050px) {
    .arrows {
        gap: 17px;
        .arrow__block {
            width: 25px;
            height: 25px;
        }
    }
}