@import "../../../styles/variables.module.scss";

.arrows {
    display: flex;
    gap: 33px;
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-linear-gradient-2;
        width: 40px;
        height: 40px;
        border-radius: $border-8px;
        box-sizing: border-box;
        cursor: pointer;
        .arrow__block {
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(100% - 3px);
            height: calc(100% - 3px);
            border-radius: $border-8px;
            background: $color-bg;
            img {
                max-height: 19px;
                max-width: 9.5px;
            }
        }
    }
}