
.gallery {
    margin-bottom: 180px;

    &__box {
        margin-top: 48px;
        display: flex;
        gap: 24px;
        min-height: 674px;

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 84px;
            max-width: 288px;
        }
        &__right {
            display: flex;
            flex-direction: column;
            gap: 139px;
            &__up {
                display: flex;
                justify-content: space-between;
                gap: 25px;
                &__first {
                    max-width: 600px;
                }
                &__last {
                    display: flex;
                    flex-direction: column;
                    max-width: 288px;
                    gap: 19px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1050px) {
    .gallery {
        margin-bottom: 180px;
        &__box {
            flex-direction: column-reverse;
            gap: 0;
            &__left {
                flex-direction: row;
                align-items: center;
                max-width: 100%;
            }
            &__right {
                gap: 30px;
            }
        }
    }
}
@media only screen and (max-width: 828px) {
    .gallery {
        margin-bottom: 140px;
        &__box {
            min-height: auto;
        }
    }
}
@media only screen and (max-width: 576px) {
    .gallery {
        margin-bottom: 100px;
    }
}
@media only screen and (max-width: 480px) {
    .gallery {
        margin-bottom: 60px;
        &__box {
            margin-top: 30px;
            gap: 10px;
            &__left,
            &__right {
                gap: 10px;
            }
            &__right {
                &__up {
                gap: 10px;
                &__last {
                    gap: 10px;
                }
            }
        }
        }
    }
}