@import "../../../styles/variables.module.scss";

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $color-bg;
    
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 6;
    transform: translateY(-100%);
    transition: all .2s linear;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-size: 30px;
        list-style-type: none;
        color: $color-text-40;
    }
    &.active {
        transform: translateY(0);
    }
}