

$font-Primary: "Clash Display", sans-serif;
$font-Secondary: "Inter", sans-serif;

$width-container: 1224px;


$color-btn-Primary: rgba(10, 20, 130, 1);
$color-btn-Secondary: rgba(59, 72, 208, 1);
$color-bg: rgba(12, 16, 45, 1);
$color-gray: rgba(99, 99, 99, 1);
$color-error: rgba(253, 70, 70, 1);

$color-ellipse: rgba(42, 62, 132, 1);

$border-8px: 8px;
$border-16px: 16px;
$border-20px: 20px;

$color-white: rgba(255, 255, 255, 1);
$color-clean-5: rgba(255, 255, 255, 0.05);
$color-clean-10: rgba(255, 255, 255, 0.1);
$color-text-40: rgba(162, 203, 251, 1);

$color-linear-gradient-1: linear-gradient(rgba(31, 242, 255, 1) 0%,rgba(39, 249, 229, 1) 52.66%,rgba(47, 255, 205, 1) 100%);
$color-linear-gradient-2: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$color-linear-gradient-3: linear-gradient(180deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$color-linear-gradient-4: linear-gradient(300deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$color-linear-gradient-5: linear-gradient(to left, rgba(21, 191, 253, 0) 8.19%, #15BFFD 70.61%, #9C37FD 100%);
$color-linear-gradient-6: linear-gradient(to right, rgba(21, 191, 253, 0) 8.19%, #15BFFD 70.61%, #9C37FD 100%);



$transition-Primary:  all .2s ease;